$theme-app-background: #252525;
$theme-brand-primary: #131313;
$theme-brand-link: #30d6b2;
$theme-brand-highlight: #414141;
$theme-brand-unread: #414141;
$theme-brand-color: #e7e7e7;
$theme-brand-footer: $theme-brand-primary;
$theme-brand-meta: #9e9e9e;
$theme-brand-actionOverlay: #17b18f;

$theme-state-success: #4ec067;
$theme-state-danger: #c04e4e;

$theme-window-radius: 5px;
$theme-header-height: 50px;
$theme-footer-height: 50px;

$theme-font: Menlo, Monaco, 'Courier New', monospace;
$theme-font-size: 12px;
$theme-font-size-meta: 10px;

$theme-badge-default-background: $theme-brand-meta;