.header {
  height: $theme-header-height;
  background: $theme-brand-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: $theme-window-radius;
  border-top-right-radius: $theme-window-radius;

  &__profileLink {
    display: flex;
    position: relative;
    margin: 0 20px;
  }

  &__avatar {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(78, 78, 78, 0.2);
    border-radius: 50%;
  }

  &__badge {
    background: $theme-brand-actionOverlay;
    color: #FFF;
    position: absolute;
    right: -3px;
    top: -3px;
    padding: 2px;
    border-radius: 50%;
    width: 14px;
    text-align: center;
  }

  &__action--left,
  &__action--right {
    position: absolute;
    color: #FFF;
    text-decoration: none;
  }

  &__action--left {
    left: 10px;
  }

  &__action--right{
    right: 10px;
  }

  &__userMenu,
  &__help {
    color: $theme-brand-meta;
    font-size: 18px;
    opacity: 0.3;
    transition: opacity 0.25s;

    &:hover {
      opacity: 1;
    }
  }

  &__help {
    right: 45px;
  }

  &__userMenu {
    background: none;
    border: 0;
    right: 5px;
    margin-top: 1px;
  }
}