html {
  font-family: $theme-font;
  font-size: $theme-font-size;
  color: $theme-brand-color;
}

.capitalize {
  text-transform: capitalize;
}

main a {
  color: $theme-brand-link;
  text-decoration: none;
}

button {
  font-family: $theme-font;
}

*:focus {
  outline: none;
}

kbd {
  display: inline-block;
  border: 1px solid darken(#FFF, 40%);
  background: darken(#FFF, 10%);
  color: $theme-app-background;
  border-bottom-width: 3px;
  border-radius: 3px;
  padding: 5px 10px;
}